#portfolio1 .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#clublogo{
  animation-name: fadeinleft;
  animation-duration: 2s;
}
@keyframes fadeinleft{
  from{
    opcaity:0;
    transform:translate3d(-100%,0,0);
  }
  to{
    opacity:1;
    transform: translate3d(0,0,0);
  }
}
#navbarResponsive{
  animation-name: fadeinright;
  animation-duration: 2s;
}
@keyframes fadeinright{
  from{
    opcaity:0;
    transform:translate3d(100%,0,0);
  }
  to{
    opacity:1;
    transform: translate3d(0,0,0);
  }
}
.masthead{
  animation-name: fadeindown;
  animation-duration: 2s;
}
@keyframes fadeindown{
  0%{
    opacity:0;
    transform: translateY(-4rem);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}
#container1{
  color:#fff;
  text-align:center;
  height:520px;
  width:100%;
  font-family:century gothic;
}
.cap{
  font-size:20px;
}
#timerdays{
  
  background-color: rgba(0,0,0,0.3);
  
  padding-top:10px;
  border: solid 1px #fff;
  border-radius: 10px;
  width:90px;
}
#timerhrs{
  background-color: rgba(0,0,0,0.3);
  width:90px;
  padding-top:10px;
  border: solid 1px #fff;
  border-radius: 10px;
  
}
#timermins{
  background-color: rgba(0,0,0,0.3);
  
  padding-top:10px;
  border: solid 1px #fff;
  border-radius: 10px;
  width:90px;
  
}

#timersec{
  height:60px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -5px;
  border: solid 1px #fff;
  border-radius: 10px;
  width:290px;
  font-size: 30px;
}
.timer p{
  margin-top:80px;
  margin-right:5px;
  display: inline-block;
  font-size:60px;
 
}
.team-member p{
  line-height: 20px;
}
.portfolio-caption button{
  background-color: #fed136;
  margin-top: 8px;
}
.portfolio-caption button:hover{
  background-color:#fff;
}
header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
 

}
#portfolio1 .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio1 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio1 .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio1 .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio1 .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio1 * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio1 .portfolio-item {
    margin: 0 0 30px;
  }
}
