/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Jura', sans-serif;
	text-transform:uppercase;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3ls_footer_grid_leftl,.w3ls_footer_grid_leftr h4,.w3l_footer_pos p a,.w3ls_footer_grid_leftr a,.w3layouts_header_right ul li a,.w3ls_social li a,.w3_team_grid1_pos,.w3_team_grid1_pos img{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*-- header --*/
.w3layouts_header_left{
	float:left;
}
.w3layouts_header_left p{
    color: #999;
    line-height: 1.8em;
    float: left;
    margin: 5px 42px 0 0;
}
.w3layouts_header_left a {
	 color: #999;
}
.w3layouts_header_right{
    float: right;
    position: relative;
    width: 23%;
}
.header {
	    padding: 0.6em 3em;
    background: #1d1d1d;
}
.w3layouts_header_right input[type="search"] {
       width: 65%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    background: #fff;
    color: #999;
    padding:8px 15px 8px 15px;
    font-size: 13px;
    float: left;
}
.w3layouts_header_right input[type="submit"] {
	     outline: none;
    border: none;
    background: #ff5000 url(../images/search.png)no-repeat 12px 5px;
    color: #fff;
    padding: 6px 0;
    width: 17%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.w3_navigation {
    border-top: 1px solid #999;
	position:relative;
}
.navbar-nav {
    float: none;
    margin: 1em 0 1em 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fa3d03;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
}
.navbar-nav > li > a {
      margin:1em 1.8em;
    padding: 0;
	line-height: 1em;
	font-weight: bold;
    text-transform: uppercase;
}
.navbar-nav > li:nth-child(3) a {
        margin-right: 34em !important;
}
.navbar-nav > li:nth-child(6) a {
        margin-right:0px!important;
}
.w3_navigation_pos {
       position: absolute;
    top: 24%;
    left: 35%;
    z-index: 999;
}
.w3_navigation_pos h1 a {
     font-size: 1em;
    color: #212121;
    text-decoration: none;
    border: 3px solid #ff5000;
    padding: 0.1em .4em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #fa3d03;
}
/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden;
	padding: 0 4px;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Effect 5: same word slide in and border bottom */
/*-- //nav --*/
.fa-cog{
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
}
/*-- //header --*/
/*-- banner --*/
.w3_navigation_pos h1 a i {
    font-size: .6em;
    color: #f83e03;
}
.slider-info {
    position: absolute;
    top: 40%;
    z-index: 999;
    left: 0px;
    width: 100%;
    height: 100%;
	text-align:center;
}
.slider-info h4 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 200;
}
.slider-info a {
	font-size:1em;
	padding:0.6em 2em;
	color:#fff;
	}
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff5000;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.slider-info p {
    font-size:1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    margin: 2em 0;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
       bottom: 24%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
    background: transparent url("../images/left.png") no-repeat left top;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
   background: transparent url("../images/right.png") no-repeat right top;
       left: 51%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 47%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
       list-style: none;
    position: absolute;
    bottom: -39%;
    left: 42%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
       display: inline-block;
    margin: 0 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
	background: #f53753;
    border: 1px solid #f53753;
    height:1px;
    width:40px;
    border-radius: 0;
}
/*-- //banner --*/
/*-- about --*/
.about,.services,.team-bottom,.team-bottom1,.mail{
	padding:5em 0;
}
.w3l_head{
	font-size: 2.5em;
    font-weight: bold;
    color: #212121;
	letter-spacing: 3px;
	text-align: center;
}
.w3ls_head_para{
	color:#ff5000;
	text-transform:uppercase;
	letter-spacing:8px;
	text-align: center;
}

.agileits_about_right p{
	color:#999;
	line-height:2em;
	margin-bottom:3em;
}
.agileits_about_right p i{
	display:block;
	margin:2em 0 0;
}
.agileits_about_right {
    padding-left: 7em;
}
.agileits_about_right ul li{
	display: block;
    margin-bottom: 1em;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
	font-weight:600;
	letter-spacing:2px;
}
.agileits_about_right ul li i{
	color:#fa3d43;
	padding-right:1em;
}
.agileits_about_right ul li:last-child,.agileinfo_about_bottom_right_wthree ul li:last-child{
	margin-bottom:0;
}
/*-- //about --*/
/*-- about-bottom --*/
.agileits_banner_bottom_grid_l h4{
	text-transform:capitalize;
	font-size:1.8em;
	color:#212121;
	line-height:1.5em;
}
.agileits_banner_bottom_grid_l p{
	margin:1em 0 0;
	line-height:2em;
	color:#999;
}
.agileits_banner_bottom_grid_l p i{
	    display: block;
    margin-bottom: 1em;
    color: #ff5000;
    letter-spacing: 4px;
    font-weight: 400;
}
.agileits_banner_bottom_grids{
	margin:6em 0 0;
}
.agileits_banner_btm_grid_r{
	position:relative;
}
.agileits_banner_btm_grid_r_pos{
	position:absolute;
	top: -23%;
    right: -15%;
}
/*-- //about-bottom --*/
/*-- services --*/
/*-- services --*/
.services{
	background:url(../images/service.jpg) no-repeat center;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
}
#services h3 {
    text-align: center;
    color: #fff;

}
.services-agile-w3l,.services-gd {
    margin: 0 auto;
    text-align: center;
}
.services-agile-w3l {
    margin-top: 2em;
}
.hi-icon,.hi-icon:after{
	border-radius:0px;
}
.hi-icon:before {
    font-family: inherit;
}

a.hi-icon img {
    margin: 17px 0 0;
}
.hi-icon-wrap {
    padding: 0;
}

.services-gd h4 {
	color: #2098d1;
    margin-top: 20px;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.services-gd p {
    color: #fff;
}
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 1em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
    margin: 0 auto;
	width: 102px;
	height: 102px;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	    border-radius: 50%;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	    border-radius: 50%;
}

/* Effect 9a */
.hi-icon-effect-9a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
	box-shadow: 0 0 0 6px #fff;
	color: #fff;
}
/*-- //services --*/
/*-- //services-bottom --*/
/*-- /news --*/
.projects{
	padding:5em 0 0 0;
}
.projects-info{
	text-align:center;
}
.projects-info p{
    color: #999999;
    font-size: .9em;
    margin: 1em auto 0;
    width: 40%;
}
.projects-grids {
  margin: 3em 0 0 0;
}
#owl-demo .item{
    text-align: center;
}
.projects-agile-grid-info{
    position: relative;
    overflow: hidden;	
}
.projects-agile-grid-info img{
	width:100%;
}
i.fa.fa-cutlery {
    color: #FFFFFF;
    font-size: 2em;
}
.projects-grid-caption h4 {
      color: #fff;
    font-size: 1.7em;
    font-weight: 700;
    margin: 7.2em 0 0.5em 0;
    text-transform: uppercase;
    background: hsla(192, 18%, 92%, 0.31);
    padding: 10px;
    letter-spacing: 6px;
}
.projects-grid-caption p {
    color: #fff;
    font-size: 0.95em;
    margin: 0;
    letter-spacing: 12px;
}
.projects-grid-caption {
    background: rgba(0, 0, 0, 0.61);
    padding: 8em 1em 1em 1em;
    position: absolute;
    left: 0;
    bottom: -135%;
    text-align: center;
    width: 100%;
     height: 617px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	border: 1px solid #999;
}
.projects-agile-grid-info:hover .projects-grid-caption{
    bottom: 0%;
}
/*-- //news --*/
/*-- gallery --*/
.w3l_gallery_grid li{
	display: inline-block;
    float: left;
    width: 32.33%;
    padding: 1%;
}
.box {
    position: relative;
    overflow: hidden;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .overbox {
	background-color: hsla(0, 0%, 11%, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
       padding: 7em 2em 2em;
}
.box,.box .overbox {
	height: 230px;
}
.box:hover .overbox { opacity: 1; }

.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title {
     font-size: 1.6em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    background: rgba(236, 81, 9, 0.72);
    text-align: center;
    padding: 10px;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
	font-size: 13px;
    line-height:1.8em;
	opacity: 0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
ul#lightGallery {
    margin-top: 2em;
}
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #0099e5;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}
.modal-content h5 {
    color: #000;
    padding: 20px 0 6px;
    font-size: 22px;
    margin-left: 0px;
}
.modal-content p {
    color: #676464;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 20px 30px;
}
 .modal-dialog {
    width: 600px;
    margin: 109px auto;
}
.agileits_about_left h3 {
    text-align: center;
}
.agileits_about_left p {
    text-align: center;
}
/*-- mail --*/
.w3_mail_grids textarea{
	outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    border: none;
    border-bottom:2px solid #f2f2f2;
    background: none;
    width: 97.3%;
    margin:0 0 3em 1.1em;
    min-height: 150px;
    resize: none;
	font-weight:600;
}
.w3_mail_grids textarea::-webkit-input-placeholder {
	color: #212121 !important;
}
.w3_mail_grids input[type="submit"]{
    outline: none;
    color: #fff;
    letter-spacing: 5px;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background: #111;
    padding: 0.9em;
    margin-top: 2em;
}
.w3_mail_grids input[type="submit"]:hover{
 background:#fa3d03;
}
/*-- mail --*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	width: calc(100% - 0em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;=
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #111;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	    font-weight: 600;
}

.input__label-content {
	position: relative;
	display: block;
	padding:1.3em 0;
	width: 100%;
}
/* Ichiro */
.input--ichiro {
	margin-top: 2em;
}

.input__field--ichiro {
	position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
    display: block;
    padding: 0 1em;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #fff;
    color: #212121;
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.input__label--ichiro {
	width: 100%;
	text-align: left;
	cursor: text;
}

.input__label--ichiro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	border: 1px solid #e4e4e4;
}

.input__label-content--ichiro {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--ichiro:focus,
.input--filled .input__field--ichiro {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.input__field--ichiro:focus + .input__label--ichiro,
.input--filled .input__label--ichiro {
	cursor: default;
	pointer-events: none;
}

.input__field--ichiro:focus + .input__label--ichiro::before,
.input--filled .input__label--ichiro::before {
	-webkit-transform: scale3d(1, 1.5, 1);
	transform: scale3d(1, 1.5, 1);
	border: none;
}

.input__field--ichiro:focus + .input__label--ichiro .input__label-content--ichiro,
.input--filled .input__label-content--ichiro {
	-webkit-transform: translate3d(0, -2.9em, 0) scale3d(0.8, 0.8, 1);
	transform:translate3d(0, -2.9em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
}
.w3_agile_mail_grid textarea {
    outline: none;
    width: 100%;
    background: #f5f5f5;
    color: #111;
    padding:1em;
    font-size: 14px;
    border: 1px solid #e4e4e4;
     min-height: 239px;
     font-weight: 600;
    margin: 2em 0 0;
}
.w3_agile_mail_grid textarea::-webkit-input-placeholder {
	color: #212121 !important;
}
/*-- //mail --*/
/*-- footer --*/
.w3l_footer{
	    background: #000;
         padding: 6em 0 5em 0;
}
.w3l_footer form{
	width: 45%;
    margin: 3em auto 0;
}
.w3ls_footer_grid {
    margin: 0 auto;
    text-align: center;
}
.w3ls_footer_grids p.agileits_w3layouts_est{
	color:#fff;
	line-height:2em;
	margin:2em auto 5em;
	width:65%;
	text-align:center;
}
.w3ls_footer_grid_leftl{
	float:left;
	width:55px;
	height:55px;
	border-radius:50px;
	text-align:center;
	background:#fa3d03;
}
.w3ls_footer_grid_leftl i{
	color: #fff;
    font-size: 1em;
    line-height: 3.4em;
}
.w3ls_footer_grid_leftr{
    float: right;
    width: 80%;
    text-align: left;
}
.w3ls_footer_grid_leftr h4{
	font-size: 1.2em;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: .5em;
}
.w3ls_footer_grid_leftr p{
	color:#999;
	line-height:1.5em;
}
.w3ls_footer_grid_leftr a{
	color:#999;
	text-decoration:none;
	font-size:14px;
}
.w3ls_footer_grid_leftr a:hover{
	color:#fa3d03;
}
.w3l_footer_pos{
      margin-top: 4em;
}
.w3l_footer_pos p{
	text-align:center;
	color:#fff;
	line-height:1.8em;
}
.w3l_footer_pos p a{
	color:#fa3d03;
	text-decoration:underline;
}
.w3l_footer_pos p a:hover{
	color:#fff;
}
.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftl{
	background:#fff;
}
.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftl i{
	color:#212121;
}
.w3ls_footer_grid_left:hover .w3ls_footer_grid_leftr h4{
	color:#fa3d43;
}
.w3ls_footer_grid_left {
    background: #2e2e2e;
    float: left;
    width: 31%;
    margin: 0 10px;
    padding: 30px 20px;
}
/*-- //footer --*/
.map iframe{
	width:100%;
	min-height:350px;
	margin-top:2em;
	margin-bottom:-6px;
	border:none;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.slider-info {
		position: absolute;
		top: 35%;
	}
}
@media (max-width:1366px){
	.slider-info h4 {
		font-size: 2.8em;
	}
	.projects-grid-caption {
		padding: 8em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -146%;
	}
	.projects-grid-caption h4 {
		font-size: 1.4em;
		margin: 7.2em 0 0.5em 0;
	}
}
@media (max-width:1280px){
	.slider-info h4 {
		font-size: 2.5em;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -23%;
		right: -9%;
	}
	.projects-grid-caption {
		padding: 14em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -156%;
	}
}
@media (max-width:1080px){
	.w3_navigation_pos {
		left:41%;
	}
	.agileits_about_right {
		padding-left: 4em;
	}
	.w3layouts_header_right {
		float: right;
		position: relative;
		width: 30%;
	}
	.slider-info p {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin: 2em 0;
	}
	.slider-info h4 {
		font-size: 2.3em;
	}
	.slider-info {
		position: absolute;
		top: 28%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 45%;
	}
	.navbar-nav > li > a {
		margin: 2em 1em;
		font-size: 0.9em;
	}
		.w3_navigation_pos h1 a {
       font-size: 0.9em;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 37.1em !important;
	}
	.w3_navigation_pos {
		left: 35%;
	}
	.agileits_banner_bottom_grid_l h4 {
       font-size: 1.6em;
	}
	.projects-grid-caption h4 {
		font-size: 1em;
		margin: 7.2em 0 0.5em 0;
	}
	.projects-grid-caption {
		padding: 19em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -179%;
	}
	.projects-grid-caption p {
		font-size: 0.85em;
		margin: 0;
		letter-spacing: 10px;
	}
	.w3ls_footer_grid_leftl {
		float: left;
		width: 43px;
		height: 43px;
	}
	.w3ls_footer_grid_leftl i {
		font-size: 1em;
		line-height: 2.7em;
	}
	.w3ls_footer_grid_leftr h4 {
		font-size: 1.1em;
		letter-spacing: 2px;
	}
	.box .overbox {
		padding: 6em 1em 2em;
	}
	.box, .box .overbox {
		height: 189px;
	}
}
@media (max-width: 1024px){
	.w3_navigation_pos {
		left:41%;
	}
	.agileits_about_right {
		padding-left: 4em;
	}
	.w3layouts_header_right {
		float: right;
		position: relative;
		width: 36%;
	}
	.slider-info p {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin: 2em 0;
	}
	.slider-info h4 {
		font-size: 2.3em;
	}
	.slider-info {
		position: absolute;
		top: 28%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 45%;
	}
	.navbar-nav > li > a {
		margin: 2em 1em;
		font-size: 0.9em;
	}
		.w3_navigation_pos h1 a {
       font-size: 0.9em;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 37.1em !important;
	}
	.w3_navigation_pos {
		left: 35%;
	}
	.projects-grid-caption {
		padding: 19em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -190%;
	}
	.projects-grid-caption h4 {
		font-size: 0.9em;
		margin: 8.2em 0 0.5em 0;
	}
}	
@media (max-width: 991px){
	.w3_navigation_pos h1 a {
		font-size: 0.7em;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 26em !important;
	}
	.navbar-nav > li > a {
	   margin: 2em 0.5em;
	}
	.w3_navigation_pos {
		top: 28%;
		left: 38.5%;
	}
	.navbar-nav > li > a {
		padding: 0;
		line-height: 0.8em;
	}
	.w3_navigation_pos {
		top: 28%;
		left: 33.5%;
	}
	.w3layouts_header_right {
		float: right;
		position: relative;
		width: 36%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 45%;
	}
	.agileits_banner_bottom_grids {
		margin: 1em 0 0;
	}
	.agileits_banner_bottom_grid_r {
		margin-top: 6em;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -23%;
		right: 0%;
	}
	.services-gd.text-center {
		float: left;
		width: 25%;
	}
	.w3l_head {
			font-size: 2.3em;
	}
	
	.box .title {
		font-size: 1.2em;
	}
	.box, .box .overbox {
		height: 146px;
	}
	.box .overbox {
		padding: 4em 1em 2em;
	}
	.projects-grid-caption {
		padding: 21em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -248%;
	}
	.projects-grid-caption h4 {
		font-size: 0.9em;
		margin: 9.2em 0 0.5em 0;
	}
	.projects-grid-caption p {
		font-size: 0.8em;
		margin: 0;
		letter-spacing: 7px;
	}
	.w3ls_footer_grid_left {
		float: left;
		width: 100%;
		margin: 0 0px;
		padding: 20px 30px;
		margin-bottom: 10px;
	}
	.w3ls_footer_grid_leftr {
		float: right;
		width: 75%;
		text-align: left;
	}
	.w3l_footer {
		padding: 4em 0 3em 0;
	}
	.about, .services, .team-bottom, .mail {
		padding: 3em 0;
	}
	.w3l_footer_pos {
		margin-top: 2em;
	}
	
}
@media (max-width: 800px){
	.w3_navigation_pos {
		left:38.5%;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 26em !important;
	}
	.w3_navigation_pos h1 a {
		font-size: .75em;
	}
	.w3_navigation_pos {
		left: 34%;
	}
	.navbar-nav {
		float: none;
		margin: 0em 0 0em 0;
	}
	.w3_navigation_pos {
		top: 12%;
		left: 33.5%;
	}
	.w3layouts_header_left p {
		float: left;
		margin: 5px 19px 0 0;
		font-size: 13px;
	}
	.header {
		padding: 0.6em 1em;
	}
	.slider-info h4 {
		font-size: 1.8em;
	}
	.slider-info a {
		font-size: 0.9em;
		padding: 0.6em 1.5em;
	}
	.slider-info p {
		font-size: 0.85em;
		letter-spacing: 5px;
		margin: 1em 0 1.5em 0;
	}
	.projects-grid-caption h4 {
		font-size: 0.9em;
		margin: 9.2em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.projects-grid-caption p {
		font-size: 0.8em;
		margin: 0;
		letter-spacing: 3px;
	}
	.services-gd h4 {
		margin-top: 20px;
		font-size: 1.3em;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 21%;
	}
	.w3layouts_header_right {
		float: right;
		position: relative;
		width: 40%;
	}
}
@media (max-width: 768px){
	.w3_navigation_pos h1 a {
		font-size: .75em;
	}
	.w3_navigation_pos {
		left: 34%;
	}
	.w3l_head {
		font-size: 2em;
	}
	.agileits_about_right {
		padding-left: 3em;
	}
	.agileinfo_about_bottom_right h2 {
		font-size: 1.7em;
	}
	.w3ls_head_para {
      letter-spacing: 5px;
	}
	.projects-grid-caption h4 {
		font-size: 1.1em;
		margin: 1.2em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.w3_agile_mail_grid textarea {
		outline: none;
		min-height: 191px;
		margin: 2em 0 0;
	}
	.map iframe {
    width: 100%;
    min-height: 250px;
    margin-top: 2em;
	}
	.projects {
		padding: 3em 0 0 0;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	.navbar-toggle {
		margin: 1em 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}

	.navbar-nav {
		float: none;
		margin: 0;
		text-align: center;
		background: #dfdfdf;
	}
	.navbar-nav > li > a {
		margin: 2em 0;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: auto !important;
	}
	.w3_navigation_pos {
		left: 0;
	}
	.w3_navigation_pos {
		position: inherit;
		float: left;
		margin-top: .9em;
	}
}
@media (max-width: 736px){
	.header {
		padding: 0.6em 1em;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	.box, .box .overbox {
		height: 139px;
	}
	
	.map iframe {
		min-height: 300px;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	.box, .box .overbox {
		height: 139px;
	}
	.w3layouts_header_right {
		float: right;
		position: relative;
		width: 37%;
	}
	.about, .services, .team-bottom, .mail {
		padding: 2em 0;
	}
	.projects {
		padding: 2em 0 0 0;
	}
}
@media (max-width: 667px){
	.w3layouts_header_right ul li:last-child {
		margin-left: 1em;
	}

	.box, .box .overbox {
		height: 125px;
	}
	.box .title {
		font-size: 1em;
	}
	.w3layouts_header_left {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.w3layouts_header_left p{
		float: none;
		margin: 0 auto;
		text-align:center;
		
	}
	.w3layouts_header_right {
		float: none;
		position: relative;
		width: 56%;
	margin: 4px auto 0;
	}
	.w3layouts_header_right input[type="search"] {
      width: 83%;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 14%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
       left: 43%;
	}
}
@media (max-width: 640px){
	.box, .box .overbox {
		height: 114px;
	}
	.w3l_head {
		font-size: 1.8em;
	}
	.w3ls_head_para {
		letter-spacing: 5px;
		font-size: 12px!important;
	}
	.services-gd.text-center {
		float: left;
		width: 50%;
	}
}
@media (max-width: 600px){
	.slider-info h4 {
		font-size: 1.5em;
	}
	.slider-info p {
		font-size: 0.8em;
		letter-spacing: 3px;
		margin: 1em 0 1.5em 0;
	}
	.slider-info {
		position: absolute;
		top: 21%;
	}
}
@media (max-width: 568px){
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.4em;
	}
	.w3l_gallery_grid li {
		display: inline-block;
		float: left;
		width: 50%;
		padding: 1%;
	}
	.box, .box .overbox {
		height: 166px;
	}
	.box .overbox {
		padding: 5em 1em 2em;
	}
	.projects-grid-caption h4 {
		font-size: 1.1em;
		margin: 5em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.w3l_footer {
		padding: 2em 0 2em 0;
	}
	.w3l_footer_pos {
		margin-top: 1em;
	}
}
@media (max-width: 480px){

	p, ul li, ol li {
    margin: 0;
    font-size: 13px;
	}
	.w3layouts_header_right {
		float: none;
		position: relative;
		width: 80%;
		margin: 4px auto 0;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 9%;
	}
	.slider-info h4 {
		font-size: 1.4em;
		letter-spacing: 4px;
	}
	.box .overbox {
		padding: 4em 1em 2em;
	}
	.box, .box .overbox {
		height: 138px;
	}
	.projects-grid-caption h4 {
		font-size: 1.1em;
		margin: 0em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.w3_agile_mail_grid textarea {
		outline: none;
		min-height: 119px;
		margin: 2em 0 0;
	}
	.w3_agile_mail_grid {
		padding: 0 0px;
	}
}
@media (max-width: 414px){
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -37%;
		right: 0%;
	}
	.agileits_banner_bottom_grid_l {
		padding: 0 5px;
	}
	.agileits_about_left {
		padding: 0 5px;
	}
	.slider-info h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
	}
	.slider-info h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
	}
	.slider-info a {
		font-size: 0.9em;
		padding: 0.4em 1.5em 0.7em 1.5em;
	}
	.w3_navigation_pos {
		position: inherit;
		float: left;
		margin-top: .7em;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 40%;
		background-size: 72%;
	}
	.callbacks_nav.next {
		left: auto;
		background: transparent url(../images/right.png) no-repeat right top;
		left: 51%;
		background-size: 72%;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 5%;
	}
	.box, .box .overbox {
		height: 112px;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	ul#lightGallery {
		margin-top: 1em;
	}
	
	.slider-img img {
		min-height: 175px;
	}
	.map iframe {
		min-height: 231px;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.2em;
	}
	.w3l_head {
		font-size: 1.5em;
	}
	.agileits_banner_btm_grid_r_pos img {
		width: 57%;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -28%;
		    right: -3%;
	}
}
@media (max-width: 384px){
	.slider-info h4 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.slider-info p {
		font-size: 0.8em;
		letter-spacing: 1px;
		margin: 0.5em 0 1em 0;
	}
	.agileits_banner_btm_grid_r_pos img {
		width: 57%;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -28%;
		   right: -3%;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	.box, .box .overbox {
		height: 103px;
	}
	.services-gd h4 {
		margin-top: 20px;
		font-size: 1.2em;
	}
}
@media (max-width: 375px){
	.w3layouts_header_right {
		float: none;
		position: relative;
		width: 95%;
		margin: 4px auto 0;
	}
}
@media (max-width: 320px){
	.w3_navigation_pos h1 a {
		font-size: .65em;
	}
	.slider-info h4 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.slider-img img {
		min-height: 151px;
	}
	.w3l_gallery_grid li {
		display: inline-block;
		float: left;
		width: 100%;
		padding: 1%;
	}
	.box, .box .overbox {
		height: 120px;
	}
	.projects-grid-caption {
		padding: 24em 1em 1em 1em;
		position: absolute;
	}
	.w3layouts_header_right {
		float: none;
		position: relative;
		width: 100%;
		margin: 4px auto 0;
	}
	#mail {
    padding: 0em 0 2em 0;
}
}